*.sln
*.swp
TestProjects/ClusterRenderTest/Library
TestProjects/ClusterRenderTest/Logs
TestProjects/ClusterRenderTest/Temp
TestProjects/ClusterRenderTest/.idea
*.csproj
TestProjects/ClusterRenderTest/obj
