@page "/devices"
@using Unity.ClusterDisplay.MissionControl.MissionControl

<h3>Launch Complexes</h3>
<RadzenDataGrid @ref="m_ComplexesGrid" Data=@Complexes.Collection.Values
                SelectionMode="DataGridSelectionMode.Single" @bind-Value=@m_SelectedLaunchComplexes>
    <Columns>
        <RadzenDataGridColumn TItem="LaunchComplex" Title="Name" Property="Name"/>
        <RadzenDataGridColumn TItem="LaunchComplex" Title="HangarBay endpoint" Property="HangarBay.Endpoint" />
        <RadzenDataGridColumn TItem="LaunchComplex" Title="Launchpad count">
            <Template Context="launchComplex">
                <span>@launchComplex.LaunchPads.Count()</span>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
<RadzenButton Click=@AddLaunchComplex Text="Add New" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary"
              class="mt-2"/>
<RadzenButton Click=@EditLaunchComplex Text="Edit" Icon="edit" ButtonStyle="ButtonStyle.Light"
              class="mt-2" Disabled=@(SelectedLaunchComplexes == null) />
<RadzenButton Click=@DeleteLaunchComplex Text="Delete" Icon="delete" ButtonStyle="ButtonStyle.Light"
              class="mt-2" Disabled=@(SelectedLaunchComplexes == null) />
