@page "/launch"
@using Unity.ClusterDisplay.MissionControl.MissionControl
@using Unity.ClusterDisplay.MissionControl.EngineeringUI.Components

<div class="row mb-1">
    <div class="col-2 align-items-center d-flex">
        <RadzenLabel Text="Asset" />
    </div>
    <div class="col-10">
        <RadzenDropDownDataGrid AllowClear="true" Style="width: 100%" @ref="m_AssetsDropDown"
                                @bind-Value=@LaunchConfigurationService.WorkValue.AssetId
                                TValue="Guid" ValueProperty="Id" TextProperty="Name"
                                Data=@AssetsService.Collection.Values
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFilteringByAllStringColumns="true"
                                Disabled=@(MissionControlStatus.State != State.Idle)>
            <Columns>
                <RadzenDropDownDataGridColumn Property="Name" Title="Name" />
                <RadzenDropDownDataGridColumn Property="Description" Title="Description" />
            </Columns>
        </RadzenDropDownDataGrid>
    </div>
</div>
<div class="row mb-1">
    <div class="col-2 align-items-start d-flex">
        <RadzenLabel Text="Launch Complexes Configuration" />
    </div>
    <div class="col-10">
        <RadzenDataGrid @ref="m_ComplexesGrid" Data=@Complexes.Collection.Values
                        SelectionMode="DataGridSelectionMode.Single" @bind-Value=@m_SelectedLaunchComplexes>
            <Columns>
                <RadzenDataGridColumn TItem="LaunchComplex" Title="Name" Property="Name"/>
                <RadzenDataGridColumn TItem="LaunchComplex" Title="Active Launchpads">
                    <Template Context="complex">
                        @GetActiveLaunchPads(complex.Id)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
        <RadzenButton Click=ConfigureLaunchComplex Text="Configure" Icon="settings" ButtonStyle="ButtonStyle.Primary"
                      class="mt-2" Disabled=@(SelectedLaunchComplexes == null) />
    </div>
</div>
<div class="row mb-1">
    <div class="col-2 align-items-start d-flex">
        <RadzenLabel Text="Global Parameters" />
    </div>
    <div class="col-10">
        <LaunchParameters Parameters=@LaunchParameters Values=@LaunchParametersValue OnValuesUpdated=LaunchParametersValueUpdate />
    </div>
</div>
<div class="row mb-1">
    <div class="col-12">
        @{
            var needsPush = LaunchConfigurationService.WorkValueNeedsPush;
            var hasAsset = LaunchConfigurationService.WorkValue.AssetId != Guid.Empty;
        }
        @if (MissionControlStatus.State == State.Idle)
        {
            <RadzenButton Text=@((needsPush && hasAsset)? "Apply & Launch" : "Launch") Icon="rocket_launch" Click=Launch
                          Style="width: 200px" Class="me-1" Disabled=@(!hasAsset) />
        }
        else
        {
            <RadzenButton Text="Stop" Icon="close" Click=Stop Style="width: 200px" Class="me-1" />
        }
        <RadzenButton Text="Apply changes" Icon="send" Click=ApplyChanges
                      ButtonStyle="ButtonStyle.Light" Style="width: 200px" Class="me-1"
                      Disabled=@(!needsPush || MissionControlStatus.State != State.Idle)
                      title=@(MissionControlStatus.State != State.Idle ? "Cannot apply changes while running" : "") />
        <RadzenButton Text="Undo changes" Icon="undo" Click=UndoChanges
                      ButtonStyle="ButtonStyle.Light" Style="width: 200px" Disabled=@(!needsPush) />
    </div>
</div>
