@page "/missions"
@using Unity.ClusterDisplay.MissionControl.MissionControl;

<style>
    .rz-splitbutton button:not(.rz-splitbutton-menubutton) {
        width: 100%;
    }
</style>

<h3>Missions</h3>
<RadzenDataGrid @ref="m_MissionsGrid" Data=@MissionsService.Collection.Values
                AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true" AllowSorting="true"
                SelectionMode="DataGridSelectionMode.Single" @bind-Value=@m_SelectedMission>
    <Columns>
        <RadzenDataGridColumn TItem="SavedMissionSummary" Title="Name" Property="Description.Name" />
        <RadzenDataGridColumn TItem="SavedMissionSummary" Title="Description" Property="Description.Details" />
        <RadzenDataGridColumn TItem="SavedMissionSummary" Title="Save time" Property="SaveTime"/>
        <RadzenDataGridColumn TItem="SavedMissionSummary" Title="Asset" Sortable="false">
            <Template Context="mission">
                @if (AssetsService.Collection.TryGetValue(mission.AssetId, out var asset))
                {
                    <span>@asset.Name</span>
                }
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
@{
    var isRunning = MissionControlStatus.State != State.Idle;
    var hasChanges = LaunchConfigurationService.WorkValueNeedsPush;
    var applyPrefix = hasChanges ? "Apply & " : "";
    var applyAndSaveEnabled = !isRunning || !hasChanges;
    var applyAndSaveTitle = applyAndSaveEnabled ? "" : "Cannot apply changes while running.";
    var loadTitle = isRunning ? "Cannot load while running." : "";
}
@if (SelectedMission == null)
{
    <RadzenButton Click=@SaveAs Text=@($"{applyPrefix}Save as...") Icon="save_as" ButtonStyle="ButtonStyle.Primary"
                  class="mt-2 me-1" Style="width: 250px;" Disabled=@(!applyAndSaveEnabled) title=@applyAndSaveTitle />
}
else
{
    <RadzenSplitButton Click=@SaveAs Text=@($"{applyPrefix}Save as...") Icon="save_as" ButtonStyle="ButtonStyle.Primary"
                       class="mt-2 me-1" Style="width: 250px;" Disabled=@(!applyAndSaveEnabled) title=@applyAndSaveTitle >
        <ChildContent>
            <RadzenSplitButtonItem Text=@($"{applyPrefix}Overwrite {SelectedMission.Description.Name}...") Icon="save"
                                   onclick=@Overwrite />
        </ChildContent>
    </RadzenSplitButton>
}
<RadzenSplitButton Click=@Load Text="Load" Icon="file_open" ButtonStyle="ButtonStyle.Light"
                   class="mt-2 me-1" Style="width: 250px;"
                   Disabled=@(SelectedMission == null || MissionControlStatus.State != State.Idle) title=@loadTitle>
    <ChildContent>
        <RadzenSplitButtonItem Text="Load & Launch" Icon="rocket_launch" onclick=@LoadAndLaunch
                               Disabled=@(SelectedMission == null || SelectedMission.AssetId == Guid.Empty) />
    </ChildContent>
</RadzenSplitButton>
<RadzenButton Click=@Delete Text="Delete" Icon="delete" ButtonStyle="ButtonStyle.Light" class="mt-2" Style="width: 250px;"
              Disabled=@(SelectedMission == null) />
