@page "/monitor"
@using Unity.ClusterDisplay.MissionControl.EngineeringUI.Components

<RadzenPanel AllowCollapse="true">
    <HeaderTemplate>
        <h4 class="m-0 d-flex align-items-center">
            <b>MissionControl's status</b>
        </h4>
    </HeaderTemplate>
    <ChildContent>
        <div class="container-fluid mt-1">
            <div class="row">
                <div class="col-3 align-items-center d-flex">
                    <RadzenLabel Text="Version: " />
                </div>
                <div class="col-9">
                    <RadzenLabel Text=@MissionControlStatus.Version />
                </div>
            </div>

            <div class="row">
                <div class="col-3 align-items-center d-flex">
                    <RadzenLabel Text="Start time: " />
                </div>
                <div class="col-9">
                    <RadzenLabel Text=@MissionControlStatus.StartTime.ToString() />
                </div>
            </div>

            <div class="row">
                <div class="col-3 align-items-top d-flex">
                    <RadzenLabel Text="Storage folder: " />
                </div>
                <div class="col-9">
                    <div class="row rz-background-color-base-300">
                        <div class="col-6 align-items-center border rz-border-color-white">
                            <RadzenLabel Text="Path" />
                        </div>
                        <div class="col-2 align-items-center border rz-border-color-white">
                            <RadzenLabel Text="Current size" />
                        </div>
                        <div class="col-2 align-items-center border rz-border-color-white">
                            <RadzenLabel Text="Zombies size" />
                        </div>
                        <div class="col-2 align-items-center border rz-border-color-white">
                            <RadzenLabel Text="Maximum size" />
                        </div>
                    </div>
                    @foreach (var folder in MissionControlStatus.StorageFolders)
                    {
                        <div class="row">
                            <div class="col-6 align-items-center border rz-border-color-base-300">
                                <RadzenLabel Text=@folder.Path />
                            </div>
                            <div class="col-2 align-items-center border rz-border-color-base-300">
                                <RadzenLabel Text=@((folder.CurrentSize / (1024*1024.0)).ToString("N2") + " MB") />
                            </div>
                            <div class="col-2 align-items-center border rz-border-color-base-300">
                                <RadzenLabel Text=@((folder.ZombiesSize / (1024*1024.0)).ToString("N2") + " MB") />
                            </div>
                            <div class="col-2 align-items-center border rz-border-color-base-300">
                                <RadzenLabel Text=@((folder.MaximumSize / (1024*1024.0)).ToString("N2") + " MB") />
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-3 align-items-center d-flex">
                    <RadzenLabel Text="Pending restart: " />
                </div>
                <div class="col-9">
                    <RadzenLabel Text=@MissionControlStatus.PendingRestart.ToString() />
                </div>
            </div>


            <div class="row">
                <div class="col-3 align-items-center d-flex">
                    <RadzenLabel Text="State: " />
                </div>
                <div class="col-9">
                    <RadzenLabel Text=@(MissionControlStatus.State + " since " + MissionControlStatus.EnteredStateTime) />
                </div>
            </div>
        </div>
    </ChildContent>
</RadzenPanel>
<RadzenPanel AllowCollapse="true" class="mt-1">
    <HeaderTemplate>
        <h4 class="m-0 d-flex align-items-center">
            <b>Launchpads's status</b>
        </h4>
    </HeaderTemplate>
    <ChildContent>
        <!--
            Remarks: Would be nice to allow sorting, filtering, ...  However to do this we need to use columns properties, which
            would require that we have classes with dynamic properties (since the columns depend on the running launchables).
            First reflex is to use ExpandoObject but RadzenDataGrid does not support it (since dynamic objects do not support
            reflexion).  So skip that feature for now since this is only an engineering ui...
        -->
        <!--
            Remarks: It would also be nice to save the configuration of the RadzenDataGrid to some static variable or
            even better to browsers local storage.  RadzenDataGrid offer a mechanism for it through bind-Settings but
            it looks like there is some sort of bug that when using it we cannot configure the list of columns
            anymore...  So skip that feature for now since this is only an engineering ui...
        -->
        <RadzenDataGrid @ref="m_LaunchapdsStatusGrid" Data=@LaunchPadStatusEntries TItem="LaunchPadStatusEntry"
                        class="mt-1" CellRender=@CellRender RowRender=@RowRender
                        AllowColumnResize="true" AllowColumnPicking="true"
                        ExpandMode="DataGridExpandMode.Single" RowExpand=@RowExpand>
            <Columns>
                @foreach (var column in LaunchPadStatusColumns)
                {
                    <RadzenDataGridColumn TItem="LaunchPadStatusEntry" Title=@column>
                        <Template Context="entry">
                            @if (entry.Cells.TryGetValue(column, out var value) &&
                                 value is { } cell)
                            {
                                <span class=@cell.Class title=@cell.Value>@cell.Value</span>
                            }
                        </Template>
                    </RadzenDataGridColumn>
                }
            </Columns>
            <Template Context="statusEntry">
                <MissionParameters Parameters=@statusEntry.MissionParameters />
            </Template>
        </RadzenDataGrid>
    </ChildContent>
</RadzenPanel>
