<RadzenTemplateForm TItem="MissionControl.LaunchPad" Data=@Edited Submit=@OnOk Style="height: 100%;">
    <div class="row" style="height: 100%; overflow-y: auto;">
        <div> <!-- To avoid stretching every row of the fixed height container above -->
            <div class="row mb-1">
                <div class="col-3 align-items-center d-flex">
                    <RadzenLabel Text="Name" />
                </div>
                <div class="col-9">
                    <RadzenTextBox Name="LaunchPadName" @bind-Value=@Edited.Name />
                    <RadzenRequiredValidator Component="LaunchPadName" Text="Name is required" />
                </div>
            </div>
            <div class="row my-1">
                <div class="col-3 align-items-center d-flex">
                    <RadzenLabel Text="Endpoint" />
                </div>
                <div class="col-9">
                    <RadzenTextBox @bind-Value=@EditedLaunchPadEndpoint />
                    @if (EditedLaunchPadEndpointErrorMessage != "")
                    {
                        <span class="rz-message rz-messages-error">
                            @EditedLaunchPadEndpointErrorMessage
                        </span>
                    }
                </div>
            </div>
            <div class="row my-1">
                <div class="col-3 align-items-center d-flex">
                    <RadzenLabel Text="Hangar bay identifier" />
                </div>
                <div class="col-9">
                    <div class="align-items-center d-flex">
                        <RadzenTextBox Value=@Edited.Identifier.ToString() Disabled="true" />
                        <RadzenButton Icon="refresh" ButtonStyle="ButtonStyle.Light" Disabled=@(EditedLaunchPadEndpoint == "")
                                      Click=@OnValidateLaunchPadEndpoint />
                    </div>
                    @if (EditedLaunchPadIdentifierErrorMessage != "")
                    {
                        <span class="rz-message rz-messages-error">
                            @EditedLaunchPadIdentifierErrorMessage
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-12 text-end">
            <RadzenButton Text="Cancel" Click=OnCancel ButtonStyle="ButtonStyle.Light" Style="width: 120px" />
            <RadzenButton Text=@(ToEdit.Identifier == Guid.Empty ? "Add" : "Update") ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Info"
                          Style="width: 120px; margin-left:24px;" Class="me-1" />
        </div>
    </div>
</RadzenTemplateForm>
