@using MissionControl

<RadzenTemplateForm TItem="LaunchComplex" Data=@Edited Submit=@OnOk Style="height: 100%;">
    <div class="row" style="height: 100%; overflow-y: auto;">
        <div class="content-container">
            <!-- To avoid stretching every row of the fixed height container above -->
            <div class="row mb-1 ">
                <div class="col-3 align-items-center d-flex">
                    <RadzenLabel Text="Name" />
                </div>
                <div class="col-9">
                    <RadzenTextBox Name="ComplexName" @bind-Value=@Edited.Name />
                    <RadzenRequiredValidator Component="ComplexName" Text="Name is required" />
                </div>
            </div>
            <div class="row my-1">
                <div class="col-3 align-items-center d-flex">
                    <RadzenLabel Text="Hangar bay endpoint" />
                </div>
                <div class="col-9">
                    <RadzenTextBox @bind-Value=@EditedHangarBayEndpoint />
                    @if (EditedHangarBayEndpointErrorMessage != "")
                    {
                        <span class="rz-message rz-messages-error">
                            @EditedHangarBayEndpointErrorMessage
                        </span>
                    }
                </div>
            </div>
            <div class="row my-1">
                <div class="col-3 align-items-center d-flex">
                    <RadzenLabel Text="Hangar bay identifier" />
                </div>
                <div class="col-9">
                    <div class="align-items-center d-flex">
                        <RadzenTextBox Value=@Edited.HangarBay.Identifier.ToString() Disabled="true" />
                        <RadzenButton Icon="refresh" ButtonStyle="ButtonStyle.Light" Disabled=@(EditedHangarBayEndpoint == "")
                                      Click=@OnValidateHangarBayEndpoint />
                    </div>
                    @if (EditedHangarBayIdentifierErrorMessage != "")
                    {
                        <span class="rz-message rz-messages-error" style="width: 100%;">
                            @EditedHangarBayIdentifierErrorMessage
                        </span>
                    }
                </div>
            </div>
            <div class="row my-1">
                <div class="col-3 align-items-start d-flex">
                    <RadzenLabel Text="Launchpads" />
                </div>
                <div class="col-9">
                    <RadzenDataGrid Data=@Edited.LaunchPads @ref="m_LaunchpadsGrid"
                                    SelectionMode="DataGridSelectionMode.Single" @bind-Value=@SelectedLaunchPads>
                        <Columns>
                            <RadzenDataGridColumn TItem="LaunchPad" Title="Name" Property="Name" />
                            <RadzenDataGridColumn TItem="LaunchPad" Title="Endpoint" Property="Endpoint" />
                        </Columns>
                    </RadzenDataGrid>
                    <RadzenButton Click=@AddLaunchPad Text="Add New" Icon="add_circle_outline"
                                  ButtonStyle="ButtonStyle.Primary" class="mt-2" />
                    <RadzenButton Click=@EditLaunchPad Text="Edit" Icon="edit" ButtonStyle="ButtonStyle.Light"
                                  class="mt-2" Disabled=@(SelectedLaunchPads == null || !SelectedLaunchPads.Any()) />
                    <RadzenButton Click=@DeleteLaunchPad Text="Delete" Icon="delete" ButtonStyle="ButtonStyle.Light"
                                  class="mt-2" Disabled=@(SelectedLaunchPads == null || !SelectedLaunchPads.Any()) />
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-12 text-end">
            <RadzenButton Text="Cancel" Click=OnCancel ButtonStyle="ButtonStyle.Light" Style="width: 120px" />
            <RadzenButton Text=@(ToEdit.Id == Guid.Empty ? "Add" : "Update") ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Info"
                          Style="width: 120px; margin-left:24px;" Class="me-1" />
        </div>
    </div>
</RadzenTemplateForm>



