@using MissionControl

<RadzenTemplateForm TItem="AssetPost" Data=@Asset Submit=@OnOk Style="height: 100%;">
    <div class="row" style="height:100%; overflow-y: auto;">
        <div> <!-- To avoid stretching every row of the fixed height container above -->
            <div class="row mb-1">
                <div class="col-3 align-items-center d-flex">
                    <RadzenLabel Text="Name" />
                </div>
                <div class="col-9 rz-mb-3">
                    <RadzenTextBox Name="AssetName" @bind-Value=@Asset.Name />
                    <RadzenRequiredValidator Component="AssetName" Text="Name is required" />
                </div>
            </div>
            <div class="row my-1">
                <div class="col-3 align-items-center d-flex">
                    <RadzenLabel Text="Description" />
                </div>
                <div class="col-9 rz-mb-3">
                    <RadzenTextArea style="width:calc(100% - 1.99rem);" @bind-Value=@Asset.Description />
                </div>
            </div>
            <div class="row my-1">
                <div class="col-3 align-items-center d-flex">
                    <RadzenLabel Text="URL" />
                </div>
                <div class="col-9 rz-mb-3">
                    <RadzenTextBox Name="URL" @bind-Value=@Asset.Url
                                   title="This URL has to be accessible from the MissionControl server."/>
                    <RadzenRequiredValidator Component="URL" Text="URL is required" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-12 text-end">
            <RadzenButton Text="Cancel" Click=OnCancel ButtonStyle="ButtonStyle.Light" Style="width: 120px" />
            <RadzenButton Text="Add" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Info"
                          Style="width: 120px; margin-left:24px;" Class="me-1" />
        </div>
    </div>
</RadzenTemplateForm>
