@using Unity.ClusterDisplay.MissionControl.MissionControl;

<RadzenTemplateForm TItem="SaveMissionCommand" Data=@Command Submit=@OnOk Style="height: 100%;">
    <div class="row" style="height: calc(100% - 40px); overflow-y: auto;">
        <div> <!-- To avoid stretching every row of the fixed height container above -->
            <div class="row mb-1">
                <div class="col-3 align-items-center d-flex">
                    <RadzenLabel Text="Name" />
                </div>
                <div class="col-9">
                    <RadzenTextBox Name="MissionName" style="width: 100%;" @bind-Value=@Command.Description.Name />
                    <RadzenRequiredValidator Component="MissionName" Text="Name is required" />
                </div>
            </div>
            <div class="row my-1">
                <div class="col-3 align-items-center d-flex">
                    <RadzenLabel Text="Description" />
                </div>
                <div class="col-9">
                    <RadzenTextArea style="width: 100%; margin-bottom: -7px;" @bind-Value=@Command.Description.Details />
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-12 text-end">
            <RadzenButton Text="Save" ButtonType="ButtonType.Submit" Style="width: 120px" Class="me-1" />
            <RadzenButton Text="Cancel" Click=OnCancel ButtonStyle="ButtonStyle.Light" Style="width: 120px" />
        </div>
    </div>
</RadzenTemplateForm>
