@inject TooltipService TooltipService

<span class="rzi help-icon" @ref="m_HelpIcon" @onclick=@(args => ShowTooltip(m_HelpIcon))>
    @if (HelpText != null)
    {
        @Icon
    }
</span>

@code {
    [Parameter]
    public string Icon { get; set; } = "help";

    [Parameter]
    public string? HelpText { get; set; }

    ElementReference m_HelpIcon;

    void ShowTooltip(ElementReference elementReference)
    {
        if (HelpText != null)
            TooltipService.Open(elementReference, _ =>
                @<div class="tooltip">@HelpText</div>
                , new TooltipOptions
                {
                    Position = TooltipPosition.Right,
                    Duration = null
                });
    }

}
